.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  background-color: transparent;
  color: var(--text-secondary);
  border: none;
  cursor: pointer;
}

.theme-toggle:hover {
  color: var(--accent);
  border-color: var(--accent);
}

.theme-toggle:focus-visible {
  outline: 0.2rem solid var(--accent);
  outline-offset: 0.2rem;
}
